# Módulo 5 Tarefa 1
## Base de nascidos vivos do DataSUS
O DataSUS disponibiliza diversos arquivos de dados com relação a seus segurados, conforme a [lei da transparência de informações públicas](https://www.sisgov.com/transparencia-acesso-informacao/#:~:text=A%20Lei%20da%20Transpar%C3%AAncia%20(LC,em%20um%20site%20na%20internet.). 

Essas informações podem ser obtidas pela internet [aqui](http://www2.datasus.gov.br/DATASUS/index.php?area=0901&item=1). Como o processo de obtenção desses arquivos foge um pouco do nosso escopo, deixamos o arquivo ```SINASC_RO_2019.csv``` já como vai ser encontrado no DataSUS. O dicionário de dados está no arquivo ```estrutura_sinasc_para_CD.pdf``` (o nome do arquivo tal qual no portal do DataSUS).

### Nosso objetivo
Queremos deixar uma base organizada para podermos estudar a relação entre partos com risco para o bebê e algumas condições como tempo de parto, consultas de pré-natal etc.

#### Preparação da base
1. Carregue a base 'SINASC_RO_2019.csv'. Conte o número de registros e o número de registros não duplicados da base. Dica: você aprendeu um método que remove duplicados, encadeie este método com um outro método que conta o número de linhas. **Há linhas duplicadas?**  

2. Conte o número de valores *missing* por variável.  

3. Ok, no item anterior você deve ter achado pouco prático ler a informação de tantas variáveis, muitas delas nem devem ser interesantes. Então crie uma seleção dessa base somente com as colunas que interessam. São elas:
``` 
['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 
    'GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5'] 
```
Refaça a contagem de valores *missings*.  

4. Apgar é uma *nota* que o pediatra dá ao bebê quando nasce de acordo com algumas características associadas principalmente à respiração. Apgar 1 e Apgar 5 são as notas 1 e 5 minutos do nascimento. Apgar5 será a nossa variável de interesse principal. Então remova todos os registros com Apgar5 não preenchido. Para esta seleção, conte novamente o número de linhas e o número de *missings*.  

5. observe que as variáveis ```['ESTCIVMAE', 'CONSULTAS']``` possuem o código ```9```, que significa *ignorado*. Vamos assumir que o não preenchido é o mesmo que o código ```9```.<br>
6. Substitua os valores faltantes da quantitativa (```QTDFILVIVO```) por zero.  
7. Das restantes, decida que valore te parece mais adequado (um 'não preenchido' ou um valor 'mais provável' como no item anterior) e preencha. Justifique. Lembre-se de que tratamento de dados é trabalho do cientista, e que estamos tomando decisões a todo o momento - não há necessariamente certo e errado aqui.  
8. O Apgar possui uma classificação indicando se o bebê passou por asfixia:
- Entre 8 e 10 está em uma faixa 'normal'. 
- Entre 6 e 7, significa que o recém-nascido passou por 'asfixia leve'. 
- Entre 4 e 5 significa 'asfixia moderada'.
- Entre 0 e 3 significa 'asfixia severa'.  

Crie uma categorização dessa variável com essa codificação e calcule as frequências dessa categorização.  
<br>
9. Renomeie as variáveis para que fiquem no *snake case*, ou seja, em letras minúsculas, com um *underscore* entre as palávras. Dica: repare que se você não quiser criar um *dataframe* novo, você vai precisar usar a opção ```inplace = True```.

In [7]:
import pandas as pd
import requests

# 1) seu código aqui
sinasc = pd.read_csv('SINASC_RO_2019.csv')
print(sinasc.shape)
sinasc.drop_duplicates().shape
# Não há duplicados

(27028, 69)

(27028, 69)

In [8]:
# 2) seu código aqui
clmn = list(sinasc)
dados_faltantes = {}
for i in clmn:
    missing_values = sinasc[i].isna().sum()
    dados_faltantes[i] = missing_values
dados_faltantes

{'ORIGEM': 0,
 'CODESTAB': 115,
 'CODMUNNASC': 0,
 'LOCNASC': 0,
 'IDADEMAE': 0,
 'ESTCIVMAE': 317,
 'ESCMAE': 312,
 'CODOCUPMAE': 2907,
 'QTDFILVIVO': 1573,
 'QTDFILMORT': 2098,
 'CODMUNRES': 0,
 'GESTACAO': 1232,
 'GRAVIDEZ': 79,
 'PARTO': 49,
 'CONSULTAS': 0,
 'DTNASC': 0,
 'HORANASC': 21,
 'SEXO': 4,
 'APGAR1': 96,
 'APGAR5': 103,
 'RACACOR': 647,
 'PESO': 0,
 'IDANOMAL': 591,
 'DTCADASTRO': 0,
 'CODANOMAL': 26814,
 'NUMEROLOTE': 0,
 'VERSAOSIST': 0,
 'DTRECEBIM': 0,
 'DIFDATA': 0,
 'DTRECORIGA': 27028,
 'NATURALMAE': 298,
 'CODMUNNATU': 298,
 'CODUFNATU': 298,
 'ESCMAE2010': 249,
 'SERIESCMAE': 12710,
 'DTNASCMAE': 40,
 'RACACORMAE': 661,
 'QTDGESTANT': 1212,
 'QTDPARTNOR': 1879,
 'QTDPARTCES': 1791,
 'IDADEPAI': 19421,
 'DTULTMENST': 10072,
 'SEMAGESTAC': 1238,
 'TPMETESTIM': 1238,
 'CONSPRENAT': 930,
 'MESPRENAT': 2867,
 'TPAPRESENT': 265,
 'STTRABPART': 947,
 'STCESPARTO': 747,
 'TPNASCASSI': 61,
 'TPFUNCRESP': 67,
 'TPDOCRESP': 14,
 'DTDECLARAC': 52,
 'ESCMAEAGR1': 249,
 'STDNEPIDEM': 0,
 'STDNNOVA': 0,
 'CODPAISRES': 0,
 'TPROBSON': 0,
 'PARIDADE': 0,
 'KOTELCHUCK': 0,
 'CONTADOR': 0,
 'munResStatus': 0,
 'munResTipo': 0,
 'munResNome': 0,
 'munResUf': 0,
 'munResLat': 1,
 'munResLon': 1,
 'munResAlt': 1,
 'munResArea': 1}

In [9]:
# 3) seu código aqui
# criando uma variável pra com as colunas selecionadas:
sinasc_selecao = ['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 
    'GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5']
sinasc_b = sinasc[sinasc_selecao] 
sinasc_b.head(5)

,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,QTDFILVIVO,GESTACAO,GRAVIDEZ,CONSULTAS,APGAR5
0,1,19,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0
1,1,29,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,9.0
2,1,37,9.0,8 a 11 anos,2.0,37 a 41 semanas,Única,4,10.0
3,1,30,5.0,12 anos ou mais,0.0,37 a 41 semanas,Única,3,10.0
4,1,30,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,10.0

In [10]:
# e agora apenas repetindo os passos anteriores com as novas variáveis:
clmn_selecao = list(sinasc_b)
dados_faltantes_selecao = {}
for i in clmn_selecao:
    dados_faltantes = sinasc_b[i].isna().sum()
    dados_faltantes_selecao[i] = dados_faltantes
dados_faltantes_selecao

{'LOCNASC': 0,
 'IDADEMAE': 0,
 'ESTCIVMAE': 317,
 'ESCMAE': 312,
 'QTDFILVIVO': 1573,
 'GESTACAO': 1232,
 'GRAVIDEZ': 79,
 'CONSULTAS': 0,
 'APGAR5': 103}

In [11]:
# 4) seu código aqui
# estou fazendo apenas na cópia para preservar o DataSet original
sinasc_b.dropna(axis=0,inplace=True,subset=['APGAR5'])
sinasc_b.isna().sum()

C:\Users\gabri\AppData\Local\Temp\ipykernel_12668\381304566.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinasc_b.dropna(axis=0,inplace=True,subset=['APGAR5'])

LOCNASC          0
IDADEMAE         0
ESTCIVMAE      315
ESCMAE         310
QTDFILVIVO    1566
GESTACAO      1216
GRAVIDEZ        76
CONSULTAS        0
APGAR5           0
dtype: int64

In [12]:
# verificando o tamanho do dataset:
sinasc_b.shape

(26925, 9)

In [13]:
# 5) seu código aqui
# como não temos valores NaN na coluna CONSULTAS, podemos tratar apenas na coluna de ESTCIVMAE
sinasc_b['CONSULTAS'].isna().value_counts()

False    26925
Name: CONSULTAS, dtype: int64

In [14]:
# a coluna possuí 315 valores NaN das quais transformares em 9
print(sinasc_b['ESTCIVMAE'].isna().value_counts())
x = sinasc_b.loc[:,'ESTCIVMAE'] == 9
print('Abaixo o total de valores iguais à 9.')
print(sinasc_b[x].shape[0])

False    26610
True       315
Name: ESTCIVMAE, dtype: int64
Abaixo o total de valores iguais à 9.
144

In [15]:
sinasc_b['ESTCIVMAE'].fillna(9, inplace=True)

print(sinasc_b['ESTCIVMAE'].isna().value_counts())
x = sinasc_b.loc[:,'ESTCIVMAE'] == 9
print('Abaixo novo total de valores iguais à 9.')
print(sinasc_b[x].shape[0])

False    26925
Name: ESTCIVMAE, dtype: int64
Abaixo novo total de valores iguais à 9.
459

C:\Users\gabri\AppData\Local\Temp\ipykernel_12668\1652157485.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinasc_b['ESTCIVMAE'].fillna(9, inplace=True)

In [16]:
# 6) Seu código aqui
# antes de substituirmos os valores, vamos ter uma noção de quanto estaremos substituindo:
sinasc_b['QTDFILVIVO'].isna().value_counts()

False    25359
True      1566
Name: QTDFILVIVO, dtype: int64

In [17]:
# e agora de fato substiuindo os valores NaN por 0:
sinasc_b['QTDFILVIVO'].fillna(0, inplace=True)
sinasc_b['QTDFILVIVO'].isna().value_counts()

C:\Users\gabri\AppData\Local\Temp\ipykernel_12668\120345049.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinasc_b['QTDFILVIVO'].fillna(0, inplace=True)

False    26925
Name: QTDFILVIVO, dtype: int64

In [18]:
# 7) seu código aqui
# acredito que os valores da coluna GESTACAO, que indicam tempo de gestação, são bem importantes
# para apenas preenchermos como ignorado ou tentarmos colocar um resultado mais provável. Dito isso,
# optei por remover as linhas onde temos dados NaN nessa coluna pois poderiam comprometer as analíses
sinasc_b['GESTACAO'].isna().sum()

1216

In [19]:
sinasc_b.dropna(axis=0,inplace=True,subset=['GESTACAO'])
sinasc_b['GESTACAO'].isna().sum()

C:\Users\gabri\AppData\Local\Temp\ipykernel_12668\3776357476.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinasc_b.dropna(axis=0,inplace=True,subset=['GESTACAO'])

0

In [20]:
# 8) seu código aqui
sinasc_b['APGAR5'].value_counts()

9.0     15372
10.0     7994
8.0      1908
7.0       234
6.0        72
5.0        40
1.0        22
4.0        21
0.0        16
2.0        16
3.0        14
Name: APGAR5, dtype: int64

In [34]:
sinasc_b.loc[sinasc_b['APGAR5'] >= 8, 'cat_apgar5'] = 'normal'
sinasc_b.loc[(sinasc_b['APGAR5'] >= 6) & (sinasc_b['APGAR5'] <= 7), 'cat_apgar5'] = 'asfixia_leve'
sinasc_b.loc[(sinasc_b['APGAR5'] >= 4) & (sinasc_b['APGAR5'] <= 5), 'cat_apgar5'] = 'asfixia_moderada'
sinasc_b.loc[sinasc_b['APGAR5'] <= 3, 'cat_apgar5'] = 'asfixia_severa'

In [35]:
def freq_apgar5_cat(categoria: str) -> str:
    frequencia = ((sinasc_b['cat_apgar5'] == categoria).sum()) / sinasc_b['cat_apgar5'].shape[0]
    return print('A frequência da categoria', categoria, 'é de', round(frequencia,2), '%')

In [36]:
def freq(categoria: str):
    total_cat = (sinasc_b['cat_apgar5'] == categoria).sum()
    total_cat_apgar5 = sinasc_b['cat_apgar5'].shape[0]
    frequencia = total_cat / total_cat_apgar5
    msg = print("A frequência da categoria", categoria, "é de", round(frequencia,3), "%")
    return msg

In [38]:
freq(categoria='normal')
freq(categoria='asfixia_leve')
freq(categoria='asfixia_moderada')
freq(categoria='asfixia_severa')

A frequência da categoria normal é de 0.983 %
A frequência da categoria asfixia_leve é de 0.012 %
A frequência da categoria asfixia_moderada é de 0.002 %
A frequência da categoria asfixia_severa é de 0.003 %

In [76]:
# 9) seu código aqui
# vou usar o applymap duas vezes:
sinasc_b = sinasc_b.applymap(lambda s: s.lower() if type(s) == str else s)
sinasc_b = sinasc_b.applymap(lambda s: s.replace(' ','_') if type(s) == str else s)

In [78]:
sinasc_b.head(5)

,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,QTDFILVIVO,GESTACAO,GRAVIDEZ,CONSULTAS,APGAR5,cat_apgar5
0,1,19,5.0,8_a_11_anos,0.0,37_a_41_semanas,única,4,10.0,normal
1,1,29,2.0,8_a_11_anos,1.0,37_a_41_semanas,única,4,9.0,normal
2,1,37,9.0,8_a_11_anos,2.0,37_a_41_semanas,única,4,10.0,normal
3,1,30,5.0,12_anos_ou_mais,0.0,37_a_41_semanas,única,3,10.0,normal
4,1,30,2.0,8_a_11_anos,1.0,37_a_41_semanas,única,4,10.0,normal